# {{ ansible_managed }}
---
services:
  starlink-exporter:
    container_name: starlink-exporter
    image: ghcr.io/joshuasing/starlink_exporter:0.9.2
    ports:
      - "9451:9451"
    restart: unless-stopped
